*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
}
.navbar{
    display:flex;
    height:auto;
    width:100%;
    background-color:rgb(15, 15, 15);
    align-items:right;
    
}
.navbar .logo img{
    height:60px;
    margin:3px 20px;
}
.navbar ul{
    display:flex;
    margin-left:525px;
    
}
.navbar ul li{
    margin: 15px;
    font-size: 25px;
}
.navbar ul li a{
    display:block;
    color:rgb(250, 248, 248);
    padding:3px 22px;
    border-radius:8px;
}
.navbar ul li a:hover{
    color:rgb(247, 22, 22);
    background-color:white;
}

body{
    margin-top: 70px;
    background-image: url(../images/bgimg.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
}
form{
    margin-left: 20%;
    opacity: 0.8;
    margin-top: 50px;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    background-color: black;
    color: red;
    font-size: 30px;
}
img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
input{
    margin-left:30px;
    height:20px;
    width:30%;
    color: red;
    background-color:rgb(233, 229, 229);
}
form.select {
    border-radius: 40px;
    height: 10px;
    width: 10px;
    text-align: left; 
}

  